{% extends "base.html" %}
{% block title %}О нас{% endblock %}
{% block content %}
<div class="container">
    <h1 class="my-4" style="color: #64B5F6;">О нас</h1>
    <div class="row">
        <div class="col-md-6">
            <p>Мы — компания NKgroup, предоставляющая услуги аренды автомобилей премиум-класса. Наш автопарк включает в себя широкий выбор автомобилей, удовлетворяющих самые взыскательные вкусы. Мы гарантируем высокий уровень сервиса и индивидуальный подход к каждому клиенту.</p>
            <p>Наши преимущества:</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Широкий выбор автомобилей</li>
                <li class="list-group-item">Гибкие условия аренды</li>
                <li class="list-group-item">Высокий уровень сервиса</li>
                <li class="list-group-item">Индивидуальный подход к каждому клиенту</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Наш автопарк</h3>
            <div class="row">
                <div class="col-6 mb-2">
                    <img src="https://via.placeholder.com/150" class="img-fluid rounded" alt="Car 1">
                </div>
                <div class="col-6 mb-2">
                    <img src="https://via.placeholder.com/150" class="img-fluid rounded" alt="Car 2">
                </div>
                <div class="col-6 mb-2">
                    <img src="https://via.placeholder.com/150" class="img-fluid rounded" alt="Car 3">
                </div>
                <div class="col-6 mb-2">
                    <img src="https://via.placeholder.com/150" class="img-fluid rounded" alt="Car 4">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}