{% extends "base.html" %}
{% block title %}Блог{% endblock %}
{% block content %}
<div class="container">
    <h1 class="my-4" style="color: #64B5F6;">Блог</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://via.placeholder.com/350x150" alt="Blog post image">
                <div class="card-body">
                    <h4 class="card-title">Новый Mercedes-Maybach S450</h4>
                    <p class="card-text">Откройте для себя роскошь и комфорт нового Mercedes-Maybach S450, доступного для аренды в нашей компании.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Читать далее</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://via.placeholder.com/350x150" alt="Blog post image">
                <div class="card-body">
                    <h4 class="card-title">Премиум-класс в аренде автомобилей</h4>
                    <p class="card-text">Узнайте, почему аренда автомобилей премиум-класса становится все более популярной среди наших клиентов.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Читать далее</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://via.placeholder.com/350x150" alt="Blog post image">
                <div class="card-body">
                    <h4 class="card-title">Как выбрать автомобиль для аренды</h4>
                    <p class="card-text">Советы и рекомендации по выбору идеального автомобиля для аренды в зависимости от ваших потребностей.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Читать далее</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}